@import "variables";

%input {
  font-family: inherit;
  font-size:inherit;
  display:inline-block;
  vertical-align: middle;
  $base-color: $color-gray-5;
  font-weight: 300;
  padding: 0 16px;
  height: 48px;
  background: $base-color;
  border: none;
  border-radius: 3px;

  &:hover, &.hover {
    background: lighten($base-color, 3%);
  }

  &:focus, &.focus {
    outline: none;
    background: lighten($base-color, 6%)
  }

  &.size_l {
    height: 56px;
  }

  &.size_xl {
    height: 64px
  }

  &.transparent {
    border: none;
    background: transparent;
    outline: none;
    padding-left: 0;
    padding-right: 0;
  }

  &.block {
    display: block;
    width: 100%;
  }
}

%template{
  font-family:$font-family-text;
  font-weight:300;
  font-size:16px;
  color:$color-text;
  background:linear-gradient(138deg, rgba(244,245,255,1) 0%, rgba(217,225,231,1) 100%);
  min-height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:0 16px;

  & .content{
    width:100%;
    padding:32px 0;
    max-width:960px;
    flex:1;
  }

  & .footer{
    padding:32px 0;
  }
}