$color-primary: #4343c3;
$color-secondary: blue;
$color-list: #4343c3;
$color-link:#ca116f;
$color-gray: #606060;
$color-gray-2: #808080;
$color-gray-3: #A0A0A0;
$color-gray-4: #D6D6D6;
$color-gray-5:#eaeaea;
$color-gray-6: #f3f3f3;
$color-status-danger:#c33527;
$color-body-background:white;
$color-text: #0e0e0e;

$font-family-text:'IBM Plex Sans', sans-serif;
$font-family-accident:'Work Sans', sans-serif;