@import "../../styles/common";
@import "../../styles/variables";

.combobox {
  @extend %input;
  min-width:200px;
  position: relative;
  display:inline-flex;
  vertical-align: middle;
  align-items:center;

  &.block{
    display:flex;
    width:100%;
  }

  & .value{
    white-space:nowrap;
    overflow:hidden;
    margin-right:16px;
    flex:1 100%;
    cursor: text;
    height:100%;
    display: inline-flex;
    align-items: center;
  }

  & .chevron{
    cursor:pointer;
  }


  & .dropdown {
    top:calc(100% + 4px);
    position: absolute;
    background: white;
    right: 0;
    left: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 3px;
    overflow: hidden;
  }
}

