@import '../../styles/variables';

@mixin link-variant($color, $hoverColor: $color){
  color:$color;
  &:hover, &.active{
    color:$hoverColor;
  }
}

.link{
  cursor:pointer;
  text-decoration: none;
  display:inline-block;

  @include link-variant($color-link);

  &.variant_select{
    @include link-variant($color-gray, $color-link);
  }
}

