@import '../../styles/variables';

.list {

}

.listItem {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 2px 12px;
  cursor:pointer;
  
  &:hover, &.hover {
    background: $color-list;
    color: white;
  }

  &.disabled{
    color:$color-gray-3;
    font-style: italic;
    pointer-events: none;
  }

  &.active {
    background: blue;
    color: white;
  }

  &.focus, &:focus{
    background-color:lighten($color-list, 5%);
  }
}